:root {
    --desktop-element-height: 400px;
    --desktop-element-width: 30%;
    --desktop-text-container-padding: 2em; /* Note that em means relative to size of font of element*/
    --mobile-width: 375px;
    --corner-radius: 7.5px;

    /* For text-margin, set width using rem as different font-sizes are used for different text elements */
    --text-margin: 1rem; 
  
    
}

body{
    /* hue, saturation and lightness */
    background-color: hsl(233,47%,7%); 
    /* background-color: teal;  */
    font-family: Inter;
    font-size:15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    /* Default margin of body is set by browser (usually 8px according to w3schools)
        set margin:0px and width and height to 100% of viewport. */
    margin: 0px;
    width: 100vw;
    height: 100vh;
        
    
    
   
}

.flex-container{
    display: flex;
    flex-wrap: nowrap; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:70%;
    min-width: 375px;


    

}




img {
    width:100%;
    /* Use object-fit: coverl to make image clip to maintain aspect ratio when resizing*/
    object-fit: cover; 
    border-radius: var(--corner-radius) var(--corner-radius) 0 0;
    
  
}

.text-container{
    /* Align all text using text-align */
    background-color: hsl(244,38%,16%);
    text-align: center;
    width:100%;
    border-radius: 0 0 var(--corner-radius) var(--corner-radius);
   
    
}

.stats-container{
    display: flex;
    flex-direction: column;
    padding: var(--text-margin)


}

/* Work on desktop layout here */

@media screen and (min-width: 835px){
    .flex-container{
        flex-direction: row-reverse;
        width:auto;

    }

    img{
        height: calc(var(--desktop-element-height) + var(--desktop-text-container-padding)*2);
        width: var(--desktop-element-width);
        border-radius: 0 var(--corner-radius) var(--corner-radius) 0;
        
        
    }

    .text-container{
        height: var(--desktop-element-height);;
        width: var(--desktop-element-width);
        text-align: left;
        padding: var(--desktop-text-container-padding);
        border-radius: var(--corner-radius) 0 0 var(--corner-radius);


        
        
    }
    .stats-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20%;
    
    
    }


   
}


/* Styling after this point should be the same for both desktop and mobile screen */

.text-container > h1 {
    color: hsl(0,0%,100%);
    font-weight: 700;
    margin: var(--text-margin);
}

.text-container > p {
    font-weight: 400;
    color: hsl(0,0%,100%,0.6);
    margin: var(--text-margin);
 
    
}


.stat-block > h2{
    font-weight: 700;
    color: hsl(0,0%,100%,0.75);
    margin-bottom: 0;
}

.stat-block > h3{
    font-weight: 400;
    color: hsl(0,0%,100%,0.6);
    font: Lexend-Deca;
    margin-top: 0;
    font-size: x-small;
  
}

.accent {
    color: hsl(277, 64%, 61%);
}

.attribution { 
    font-size: 11px; text-align: center; 
    color: hsl(0,0%,100%,0.75);
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}